<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
        <label for="phoneNumber"></label>
        <input name="phoneNumber" type="text" value="">
    </div>
    <button>发送验证码</button>
  </body>
</html>
